.footer {
    background-color: rgb(22, 27, 43);
    border-radius: 20px 20px 0 0;
    max-width: 1000px;
    min-height: 26vh;
    margin: auto;
    padding: 2rem;
    text-align: center;
    width: 90%;
}

.titulo {
    color: orange;
    font-size: 4rem;
    font-family: var( --font-sofia);
    letter-spacing: 2px;

}

.text {
    font-size: 1.2rem;
    margin-bottom: 15px;
    padding-bottom: 1rem;
}