:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-sofia: "Sofia", serif;

  --backdrop: blur(8px);

  --background: rgba(18, 18, 18, 0.98);
  --background-line: rgb(40, 40, 40);
  --background-hero: rgba(20, 20, 30, 0.70);


  --card: rgba(30, 30, 30, 0.65);
  --card-hover: rgba(46, 43, 43, 0.65);
  --card-border: rgba(255, 255, 255, 0.1);
  --card-box-shadow-hover: rgba(0, 0, 0, 0.3);

  --answers: rgba(49, 49, 54, 0.7);

  --text-primary: rgb(255, 255, 255);
  --text-secondary: rgb(233, 235, 239);

  --tabla-canbeza: rgba(36, 36, 37, 0.61);

  --color-az-500: #3a7cd9;
  --color-az-400: #3180ee;
  --color-mo-500: #9a70e0;
  --color-mo-400: #774bbd;
  --color-ve-500: #31af50;
  --color-ve-400: #347e47;

  --F-H: rgba(29, 36, 46, 0.712);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-primary);
  background-color: var(--background);
  background-image:
    linear-gradient(to right, var(--background-line) 1px, transparent 1px),
    linear-gradient(to bottom, var(--background-line) 1px, transparent 1px);
  background-size: 6rem 4rem;
  font-family: var(--font-montserrat);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: var(--font-montserrat);
}

p {
  text-wrap: pretty;

}

a {
  color: inherit;
  text-decoration: none;
}

.site {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

.text-gradient {
  background: linear-gradient(90deg,
      var(--color-az-500),
      #ffffff,
      var(--color-ve-500));
  background-clip: text;
  color: transparent;

}

.titulo {
  font-size: clamp(2.25rem, 5vw, 3.25rem);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 2rem;
}